@page
@model RazorPageDemoApp.Pages.InsertMultipleRowsModel
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        int i = 0;
    }
    @foreach (var item in Model.RowList)
    {
        <div class="row">
            <div class="form-group col-4">
                <input asp-for="@Model.RowList[i].Name" class="form-control" value="@item.Name" />
                <span asp-validation-for="@Model.RowList[i].Name" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <input asp-for="@Model.RowList[i].Qty" class="form-control" value="@item.Qty" />
                <span asp-validation-for="@Model.RowList[i].Qty" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <input asp-for="@Model.RowList[i].Price" class="form-control" value="@item.Price" />
                <span asp-validation-for="@Model.RowList[i].Price" class="text-danger"></span>
            </div>
        </div>
        @(i++)
    }
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-page="Index">Back to List</a>
    </div>
</form>