@page
@model ReadFromDataTableModel
<table class="table">
    <thead>
        <tr>
            <th>Topscoorder
            <th>Doelpunten
            <th>Vlag
            <th>Team
           
        </tr>
    </thead>
    <tbody>
        @foreach (var items in @Model.TopscoorderTotaals!)
        {
            <tr>
                <td>@items.Topscoorder</td>
                <td>@items.Doelpunten</td>
                <td>@items.Vlag</td>
                <td>@items.Team</td>
            </tr>
        }
    </tbody>
</table>