@model DotNet6MVCWebApp.Controllers.SearchByGroupName

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index2" method="get">
    <div class="form-actions no-color">
        <p>

            <select asp-for="String02NameSelected" id="allId" asp-items="Model.String02NameSelection"> <option value="All">All</option></select>
            Title: <input type="text" asp-for="SearchString" name="searchString" />
            <input type="submit" />

            @*<input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a> *@
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class01NameList[0].String01Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class01NameList[0].String02Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class01NameList[0].Int01Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class01NameList[0].DateTime01Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Class01NameList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.String01Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.String02Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Int01Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime01Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#allId").change(function () {
                var allId = $('#allId');

                if (allId == "All") {
                    alert("Alert");
                    $.ajax({
                        url: 'http://localhost:5094/Search/Index2',
                        type: 'GET',
                        dataType: 'json',
                        data: { String02NameSelected: "All", searchString: "" },
                        success: function (d) {
                            location.reload();
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });

                }


            });

        });
    </script>
}
