@model IEnumerable<DotNet6MVCWebApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Student List</h2>

<p>
    <a asp-action="Create"  >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                Student Details
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ID">Details</a> |  <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
