@model IEnumerable<DotNet6MVCWebApp.Models.Patients>
@*<table>
    @foreach (var patients in Model)
    {
        <tr>
            <td>@patients.Id.</td>
            <td>@patients.Name</td>
            <td>@patients.Status</td>
            <td>@patients.DateOfAdm</td>
            <td>@patients.DateOfDis</td>

        </tr>
    }
</table> *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAdm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDis)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfAdm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDis)
                </td>
              
            </tr>
        }
    </tbody>
</table>
