@model Paginate<Animal>


<ul>
    <li class="@(Model.HasPrev?"":"disabled")">
        <a asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
    </li>
    @for (int i = 1; i <= Model.TotalPage; i++)
    {
        <li class="@(i==Model.CurrentPage ? "disabled":"")">
            <a asp-action="Index" asp-route-page="@i">@i</a>
        </li>
    }


    <li class="@(Model.HasNext?"":"disabled")">
        <a asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">Next</a>
    </li>
</ul>


