@model DotNet6MVCWebApp.Models.Category
<div class="container-fluid mt-5">
<form asp-controller="Category" asp-action="OnPost" method="post">
    
    <div class="border p-3 mt-4"> 
        <div class="row pb-2"> 
            <h2 class="text-primary pl-3">Create New Category</h2> 
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryName"></label>        
            <input asp-for="CategoryName" class="form-control"/>       
            <span asp-validation-for="CategoryName" class="text-danger"></span> 
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control"/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>        
        </div>
        <div class="mb-3">
            <label asp-for="DateCreated"></label> 
            <input  name="DateCreated" type="date" class="form-control bg-info"/>
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        
        <button type="submit" class="bnt btn-primary" style="width: 150px;">Create</button>
    </div>
</form>
</div>

@*
@using (Html.BeginForm("OnPost", "Category", FormMethod.Post))
{
    <div class="col-sm-3">
     
        <div class="form-group">
            @Html.LabelFor(m => m.CategoryName)
            @Html.EditorFor(m => m.CategoryName,
        new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(m=>m.CategoryName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DisplayOrder)
            @Html.EditorFor(m => m.DisplayOrder,
        new { htmlattributes = new { @class = "form-control datepicker",
        type="date" } })
            @Html.ValidationMessageFor(m=>m.DisplayOrder)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateCreated)
            @Html.EditorFor(m => m.DateCreated,
        new { htmlattributes = new { @class = "form-control datepicker",
        type="date"} })
            @Html.ValidationMessageFor(m=>m.DateCreated)
        </div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
}*@
