@model IEnumerable<DotNet6MVCWebApp.Controllers.RentModel>

<div class="filter_and_location" style="right: 0%;">

    <div class="property_information">

        @foreach (var item in Model)
        {
            <div class="home-info">
                <a href="#" class="home-images">
                    <img src="@item.pic1" />
                </a>
                <div class="home-data">
                    <div class="home-name">
                        <p>@item.tittle</p>
                    </div>
                    <div class="price">
                        <p>@item.price</p>
                    </div>
                    <div class="features">

                        <span>
                            @item.bedroom
                            <svg version="1.1" height="30" weight="30" xmlns="http://www.w3.org/2000/svg" fill="#0077b5"
                             viewBox="0 0 463 463" xmlns:xlink="http://www.w3.org/1999/xlink"
                             enable-background="new 0 0 463 463">
                                <path d="m439.5,224h-8.5v-104.5c0-8.547-6.953-15.5-15.5-15.5h-39.319c-3.158,0-6.102-0.827-8.513-2.392-28.577-18.54-79.481-29.608-136.168-29.608s-107.591,11.068-136.168,29.608c-2.411,1.564-5.354,2.392-8.513,2.392h-39.319c-8.547,0-15.5,6.953-15.5,15.5v104.5h-8.5c-12.958,0-23.5,10.542-23.5,23.5v16c0,10.336 6.71,19.128 16,22.266v65.734c0,10.336 6.71,19.128 16,22.266v9.734c0,4.143 3.358,7.5 7.5,7.5s7.5-3.357 7.5-7.5v-8.5h369v8.5c0,4.143 3.358,7.5 7.5,7.5s7.5-3.357 7.5-7.5v-9.734c9.29-3.138 16-11.93 16-22.266v-65.734c9.29-3.138 16-11.93 16-22.266v-16c0-12.958-10.542-23.5-23.5-23.5zm-392.5-104.5c0-0.275 0.224-0.5 0.5-0.5h39.319c6.063,0 11.83-1.662 16.677-4.808 25.853-16.772 74.901-27.192 128.004-27.192s102.151,10.42 128.003,27.192c4.848,3.146 10.614,4.808 16.677,4.808h39.32c0.276,0 0.5,0.225 0.5,0.5v104.5h-21.681c2.965-4.802 4.681-10.454 4.681-16.5v-32c0-17.369-14.131-31.5-31.5-31.5h-96c-17.369,0-31.5,14.131-31.5,31.5v32c0,6.046 1.716,11.698 4.681,16.5h-26.363c2.965-4.802 4.681-10.454 4.681-16.5v-32c0-17.369-14.131-31.5-31.5-31.5h-96c-17.368,0-31.499,14.131-31.499,31.5v32c0,6.046 1.716,11.698 4.681,16.5h-21.681v-104.5zm208,88v-32c0-9.098 7.402-16.5 16.5-16.5h96c9.098,0 16.5,7.402 16.5,16.5v32c0,9.098-7.402,16.5-16.5,16.5h-96c-9.098,0-16.5-7.402-16.5-16.5zm-176,0v-32c0-9.098 7.402-16.5 16.5-16.5h96c9.098,0 16.5,7.402 16.5,16.5v32c0,9.098-7.402,16.5-16.5,16.5h-96c-9.098,0-16.5-7.402-16.5-16.5zm344.5,152.5h-384c-4.687,0-8.5-3.813-8.5-8.5v-64.5h401v64.5c0,4.687-3.813,8.5-8.5,8.5zm24.5-96.5c0,4.687-3.813,8.5-8.5,8.5h-416c-4.687,0-8.5-3.813-8.5-8.5v-16c0-4.687 3.813-8.5 8.5-8.5h16 56 96 80 96 56 16c4.687,0 8.5,3.813 8.5,8.5v16z" />
                            </svg>
                        </span>

                        <span>
                            @item.bathroom
                            <svg width="30px" height="25px" fill="#0077b5" viewBox="0 0 512 512"
                             xmlns="http://www.w3.org/2000/svg">
                                <path fill="#0077b5"
                                  d="M464,280H80V100A51.258,51.258,0,0,1,95.113,63.515l.4-.4a51.691,51.691,0,0,1,58.6-10.162,79.1,79.1,0,0,0,11.778,96.627l10.951,10.951-20.157,20.158,22.626,22.626,20.157-20.157h0L311.157,71.471h0l20.157-20.157L308.687,28.687,288.529,48.844,277.578,37.893a79.086,79.086,0,0,0-100.929-8.976A83.61,83.61,0,0,0,72.887,40.485l-.4.4A83.054,83.054,0,0,0,48,100V280H16v32H48v30.7a23.95,23.95,0,0,0,1.232,7.589L79,439.589A23.969,23.969,0,0,0,101.766,456h12.9L103,496h33.333L148,456H356.1l12,40H401.5l-12-40h20.73A23.969,23.969,0,0,0,433,439.589l29.766-89.3A23.982,23.982,0,0,0,464,342.7V312h32V280ZM188.52,60.52a47.025,47.025,0,0,1,66.431,0L265.9,71.471,199.471,137.9,188.52,126.951A47.027,47.027,0,0,1,188.52,60.52ZM432,341.4,404.468,424H107.532L80,341.4V312H432Z"
                                  class="ci-primary" />
                            </svg>
                        </span>
                        <span>
                            2
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30" height="30px"
                             fill="#0077b5" viewBox="0 0 316.324 316.323"
                             style="enable-background:new 0 0 316.324 316.323;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M259.337,155.958l-15.143-53.331c-0.736-2.62-2.783-4.662-5.403-5.4c-26.44-7.427-53.907-11.192-81.631-11.192
                                    c-47.314,0-78.777,10.885-80.098,11.347c-2.396,0.843-4.232,2.804-4.92,5.251l-14.959,53.342
                                    c-11.987,0.322-21.632,10.176-21.632,22.236v61.428c0,12.264,9.986,22.252,22.251,22.252h2.234v9.664
                                    c0,12.268,9.986,22.251,22.252,22.251h4.819c12.268,0,22.251-9.983,22.251-22.251v-9.664h100.026v9.664
                                    c0,12.268,9.983,22.251,22.251,22.251h4.819c12.269,0,22.252-9.983,22.252-22.251v-9.664h0.63
                                    c12.268,0,22.257-9.988,22.257-22.252V178.21C281.594,165.941,271.611,155.958,259.337,155.958z M265.995,239.638
                                    c0,3.667-2.986,6.652-6.657,6.652h-8.43c-4.307,0-7.8,3.494-7.8,7.8v17.464c0,3.666-2.986,6.651-6.652,6.651h-4.819
                                    c-3.666,0-6.651-2.985-6.651-6.651V254.09c0-4.306-3.494-7.8-7.8-7.8H101.554c-4.306,0-7.8,3.494-7.8,7.8v17.464
                                    c0,3.666-2.986,6.651-6.652,6.651h-4.819c-3.667,0-6.652-2.985-6.652-6.651V254.09c0-4.306-3.494-7.8-7.8-7.8H57.797
                                    c-3.667,0-6.652-2.985-6.652-6.652V178.21c0-3.666,2.986-6.652,6.652-6.652h5.299c3.499,0,6.566-2.325,7.508-5.697l15.412-54.938
                                    c9.392-2.734,35.609-9.288,71.145-9.288c24.829,0,49.437,3.184,73.206,9.466l15.361,54.761c0.944,3.366,4.012,5.697,7.511,5.697
                                    h6.099c3.671,0,6.657,2.986,6.657,6.652V239.638z" />
                            <path d="M85.896,186.065c-13.269,0-24.059,10.791-24.059,24.064c0,13.269,10.791,24.06,24.059,24.06
                                    c13.271,0,24.06-10.791,24.06-24.06C109.956,196.856,99.167,186.065,85.896,186.065z M85.896,218.59
                                    c-4.664,0-8.459-3.788-8.459-8.46s3.791-8.465,8.459-8.465c4.669,0,8.46,3.793,8.46,8.465S90.565,218.59,85.896,218.59z" />
                            <path d="M230.428,186.065c-13.269,0-24.06,10.791-24.06,24.064c0,13.269,10.791,24.06,24.06,24.06
                                    c13.273,0,24.06-10.791,24.06-24.06C254.488,196.856,243.702,186.065,230.428,186.065z M230.428,218.59
                                    c-4.661,0-8.46-3.788-8.46-8.46s3.793-8.465,8.46-8.465c4.672,0,8.46,3.793,8.46,8.465S235.1,218.59,230.428,218.59z" />
                            <path d="M89.408,172.146h137.512c2.381,0,4.636-1.087,6.108-2.945c1.483-1.868,2.031-4.306,1.488-6.621l-8.876-37.999
                                    c-0.655-2.785-2.773-4.996-5.535-5.75c-18.778-5.131-39.105-7.731-60.396-7.731c-36.165,0-62.481,7.446-63.589,7.762
                                    c-2.709,0.782-4.796,2.971-5.441,5.725l-8.871,38.003c-0.541,2.311,0.007,4.753,1.488,6.617
                                    C84.779,171.06,87.026,172.146,89.408,172.146z M104.794,132.752c8.604-2.009,29.196-6.058,54.916-6.058
                                    c18.218,0,35.625,2.021,51.813,6.02l5.57,23.836H99.239L104.794,132.752z" />
                            <path d="M312.127,102.805L158.164,22.519L4.197,102.805c-3.816,1.99-5.304,6.703-3.313,10.519
                                    c1.998,3.829,6.708,5.299,10.521,3.313l146.759-76.527l146.754,76.533c1.157,0.596,2.381,0.883,3.6,0.883
                                    c2.813,0,5.525-1.523,6.922-4.197C317.429,109.507,315.947,104.795,312.127,102.805z" />
                                            </g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                                    </svg>

                        </span>
                    </div>
                    <div class="desc">
                        @item.descrip
                    </div>
                    <div class="contact-save">
                        <a href="tel:=11111111111" class="phone_number">
                            <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" width="20" height="20" fill="white   " id="Capa_1"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" viewBox="0 0 471.701 471.701" style="enable-background:new 0 0 471.701 471.701;"
                             xml:space="preserve">
                            <g>
                            <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                                c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                                l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                                C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                                s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                                c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                                C444.801,187.101,434.001,213.101,414.401,232.701z" />
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                            <g>
                                        </g>
                                    </svg>

                        </a>
                        <div class="popup" onclick="myFunction()">
                            <a href="tel:+928754756478" class="phone_number">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="white "
                                 xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M5.84029 9.85641C7.6276 13.7483 10.8081 16.8425 14.7619 18.5191L14.7743 18.5244L15.5382 18.8648C16.5108 19.2982 17.654 18.9904 18.2776 18.1273L19.552 16.3636C19.6298 16.2558 19.6098 16.106 19.5063 16.0226L17.2816 14.2278C17.171 14.1385 17.0084 14.1593 16.9237 14.2735L16.0579 15.4419C15.8476 15.7256 15.4678 15.8242 15.1461 15.6786C12.1897 14.3407 9.81397 11.965 8.47604 9.00857C8.33043 8.68681 8.42902 8.30705 8.71278 8.09677L9.88115 7.23091C9.99532 7.14631 10.0161 6.98368 9.92688 6.87308L8.13184 4.64804C8.04841 4.54462 7.89866 4.52454 7.79093 4.60231L6.01764 5.88247C5.14885 6.50966 4.84289 7.6625 5.28635 8.63795L5.83969 9.85511C5.83989 9.85555 5.84009 9.85598 5.84029 9.85641ZM14.1699 19.8974C9.87392 18.0738 6.41856 14.7108 4.47651 10.481L4.47534 10.4785L3.92084 9.25874C3.18174 7.63299 3.69167 5.71158 5.13965 4.66627L6.91294 3.38611C7.66706 2.8417 8.71529 2.98231 9.29929 3.7062L11.0943 5.93125C11.7189 6.70542 11.5734 7.84381 10.7743 8.43605L10.1048 8.93221C11.2357 11.1266 13.0281 12.919 15.2224 14.0499L15.7186 13.3804C16.3108 12.5812 17.4492 12.4358 18.2234 13.0603L20.4482 14.8551C21.1723 15.4393 21.3127 16.4879 20.7678 17.242L19.4935 19.0058C18.4541 20.4443 16.5487 20.9572 14.9277 20.235L14.1699 19.8974Z"
                                      fill="white " />
                                </svg>

                            </a>
                            <span class="popuptext" id="myPopup">tel:+928754756478</span>
                        </div>
                        <div class="popupmsg" onclick="myFunctionmsg()">
                            <a href="#" class="phone_number open_message">
                                <svg version="1.1" id="Capa_1" width="20" height="20" fill="white   "
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" viewBox="0 0 511 511" style="enable-background:new 0 0 511 511;"
                                 xml:space="preserve">
                                <g>
                                <path d="M0,104v303h511V104H0z M308.486,288H202.514L26.166,119h458.668L308.486,288z M149.871,258.327L15,382.409V129.076
                                 L149.871,258.327z M160.723,268.727L196.486,303h118.027l35.764-34.273L484.27,392H26.73L160.723,268.727z M361.129,258.327
                                 L496,129.076v253.333L361.129,258.327z" />
                                <rect x="399.5" y="136" width="24" height="15" />
                                <rect x="255.5" y="136" width="128" height="15" />
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                <g>
                                        </g>
                                    </svg>

                            </a>
                            <span class="popuptext" id="myPopup1">abc123@exmaple.</span>
                        </div>

                    </div>

                </div>

            </div>

        }
