@model IEnumerable<DotNet6MVCWebApp.Models.ActivityItem>

@{
    ViewData["Title"] = "Index";
}


<div class="form-row">
    <table>
        <tr>
            <td>
                <a asp-action="CreateMemberView" class="btn btn-success">Create New</a>

            </td>
            <form method="get" action="/Animal/MemberList">

            <td style="padding-right:760px">
            </td>
            <td>
                <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-primary" />
            </td>
            </form>
        </tr>
    </table>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatetModified)
            </th>
            <th>
                 Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatetModified)
                </td>
                <td>
                    <a asp-action="EditMember" class="btn btn-primary" asp-route-activityId="@item.ActivityItemId">Details</a> |  <a asp-action="EditActivity" class="btn btn-warning" asp-route-activityId="@item.ActivityItemId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table>
    <tr>
        <td>
            <a target="_blank" class="btn btn-info" asp-controller="Application" asp-action="DisplayPDFFromExistingFile">Display PDF Existing File</a>
        </td>
        <td>
            <a target="_blank" class="btn btn-primary" asp-controller="Application" asp-action="DisplayPdfOnBrowserFromDatabaseList">Display PDF On BrowserFrom DB</a>
        </td>
        <td>
            <a target="_blank" class="btn btn-success" asp-controller="Application" asp-action="DownloadPDFOnBrowser">DownLoad PDF From DB</a>
        </td>
        <td>
            <a target="_blank" class="btn btn-info" asp-controller="Animal" asp-action="Excel">DownLoad Excel</a>
        </td>
    </tr>
</table>
