@model DotNet6MVCWebApp.Models.UserModel

<div id="login-div">
    @using (Html.BeginForm("PostPaymetInfo", "Restaurant", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td><strong style="text-decoration:underline;margin-left:25px;">Payment Gateway</strong></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Username)</td>
                <td>@Html.EditorFor(model => model.Username,new { htmlAttributes = new { @class = "form-control"}})
                <td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Username)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.Password) </td>
                <td>@Html.EditorFor(model => model.Password,new { htmlAttributes = new { @class = "form-control",type = "password"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.FirstName) </td>
                <td>@Html.EditorFor(model => model.FirstName,new { htmlAttributes = new { @class = "form-control"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.FirstName)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.LastName) </td>
                <td>@Html.EditorFor(model => model.LastName,new { htmlAttributes = new { @class = "form-control"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.LastName)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.CardNum) </td>
                <td>@Html.EditorFor(model => model.CardNum,new { htmlAttributes = new { @class = "form-control"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.CardNum)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.ExpDate) </td>
                <td>@Html.EditorFor(model => model.ExpDate,new { htmlAttributes = new { @class = "form-control"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.ExpDate)</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(model => model.CVV) </td>
                <td>@Html.EditorFor(model => model.CVV,new { htmlAttributes = new { @class = "form-control"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.CVV)</td>
            </tr>
            <tr>
                <td></td>
                <td><strong style="text-decoration:underline;margin-left:25px;">User Purchase Info</strong></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.UserPurchaseinfo.PurchaseAmount) </td>
                <td>@Html.EditorFor(model => model.UserPurchaseinfo.PurchaseAmount,new { htmlAttributes = new { @class = "form-control",type = "number"}})</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.UserPurchaseinfo.CardFunds) </td>
                <td>@Html.EditorFor(model => model.UserPurchaseinfo.CardFunds,new { htmlAttributes = new { @class = "form-control",type = "number"}})</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" class="btn btn-success" value="Submit" />
                </td>
            </tr>
        </table>
    }
</div>


@if (@ViewBag.UserMessage != null)
{
    <div class="modal fade" tabindex="-1" id="modal3"
     data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{

    <script type="text/javascript">

        const modal = document.getElementById("modal3")
        $(window).on('load', function () {
            console.log(modal);

            modal.style.display = "block";
            $("#modal3").find(".modal-header").html('@ViewBag.UserMessage');
            $("#modal3").find(".modal-body").html('@ViewBag.UserMessage');
            $("#modal3").modal('show');
        });
        function closeModal() {
            modal.style.display = "none";

        }
        $("#btnHideModal").click(function () {
            $("#modal3").modal('hide');
        });
    </script>

    }
}

